/* 
    Document   : Style
    Created on : Oct 6, 2011, 3:15:13 PM
    Author     : Ed
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;

}
body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
			
		}
                
                input, textarea {
			
			background-color:#fff;
			border:1px solid #ccc;
			
		}